html,
body {
    min-height: 100vh;
    margin: 0;
}

header nav,
.homepage .home-section>div,
.homepage .about-section>div,
.homepage .services-section>div,
.homepage .contact-section>div,
.homepage .overview-section>div {
    max-width: 1280px;
    margin: auto;
}

/* header styles */
header {
    padding: 10px 10px 0;
    box-shadow: 0px 2px 4px -1px #000;
    position: relative;
}

header nav {
    display: flex;
    align-items: center;
}

header .site-logo {
    width: 100%;
}

header .site-logo img {
    min-width: 70px;
    max-width: 70px;
    width: 100%;
    height: 75px;
}

header .header-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    min-height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s;
    opacity: 0;
}

header .header-menu a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: #018015;
    align-self: flex-start;
}

header .header-menu button {
    color: #FFF;
    margin: 10px 10px 0 0;
    border: none;
    background: #A71C1C;
    padding: 5px 16px;
    font-size: 1.2em;
    box-shadow: -1px 3px 3px -1px #000;
}

header .header-menu.show {
    transform: translateX(0%);
    transition: .3s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header .hamburger-btn button {
    border: none;
    background: #FFF;
}

header .hamburger-btn button i {
    font-size: 2em;
}

/* Home styles */
.homepage .home-section {
    padding: 2em 15px;
    background-color: #0099F1;
}

.homepage .hero-section {
    display: flex;
    flex-direction: column-reverse;
}

.homepage .hero-contents h1 {
    font-size: 3em;
    margin: 0;
}

.homepage .hero-contents p {
    font-size: 1.1em;
}

.homepage .hero-image img {
    width: 100%;
}

/* Services Styles */
.homepage .services-section {
    padding: 2em 15px;
}

.homepage .services-section h2 {
    text-align: center;
    color: #018015;
    margin: 0;
    font-size: 2em;
}

.homepage .services-section h4 {
    text-align: center;
    margin: 15px 0;
    font-size: 1.3em;
}

.homepage .services-section .service-img-container {
    text-align: center;
}

.homepage .services-section img {
    width: 100%;
    max-width: 100px;
}

.homepage .services-section .services-card-con {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 6px 0px #000;
}

/* Overview Styles */
.homepage .overview-section {
    padding: 2em 15px;
    background: #00CF81;
}

.homepage .overview-section img {
    width: 100%;
}

.homepage .overview-section p {
    text-align: center;
}

.homepage .overview-section h2 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}


/* Contact Styles */
.homepage .contact-section {
    padding: 2em 15px;
}

.homepage .contact-section img {
    width: 100%;
}

.homepage .contact-section .left-column {
    display: flex;
    align-items: center;
}

.homepage .contact-section .left-column .custom-contaienr {
    width: 30%;
    display: inline-block;
}

.homepage .contact-section .left-column .container-custom {
    width: 70%;
    display: inline-block;
}

.homepage .contact-section .left-column .container-custom h3 {
    margin: 0;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 10px;
}

.homepage .contact-section .right-column .contact-details {
    padding-bottom: 15px;
}

.homepage .contact-section .right-column .contact-details .icon-container {
    width: 10%;
    display: inline-block;
}

.homepage .contact-section .right-column .contact-details .details-container {
    width: 90%;
    display: inline-block;
}

.homepage .contact-section .right-column .contact-details .details-container p {
    text-align: center;
    padding-left: 15px;
    margin: 0;
}

.homepage .contact-section .right-column .contact-details .details-container p span {
    font-weight: bold;
}

/* Tablet View */
@media screen and (min-width: 426px) {
    header .site-logo img {
        min-width: 80px;
        max-width: 90px;
        height: 95px;
    }

    .homepage .hero-section {
        flex-direction: row;
        align-items: center;
    }

    .homepage .hero-contents {
        width: 50%;
    }

    .homepage .hero-image {
        width: 50%;
    }

    .homepage .services-section .services-card {
        width: 50%;
        display: inline-block;
    }

    .homepage .overview-section .left-column {
        width: 100%;
        max-width: 425px;
        margin: auto;
    }

    .homepage .contact-section .left-column,
    .homepage .contact-section .right-column {
        max-width: 350px;
        width: 100%;
        margin: auto;
    }

    .homepage .contact-section .right-column .contact-details .details-container {
        max-width: 280px;
        width: 100%;
    }

    .homepage .contact-section .right-column .contact-details .icon-container {
        max-width: 35px;
        width: 100%;
    }

    .homepage .contact-section .right-column .contact-details {
        text-align: center;
    }
}

/* Desktop View */
@media screen and (min-width: 769px) {
    header {
        padding: 5px 10px 0;
    }

    header .site-logo {
        width: 50%;
    }

    header .header-menu {
        position: unset;
        min-height: unset;
        width: 50%;
        background: unset;
        opacity: 1;
        transform: unset;
        transition: unset;
        text-align: right;
    }

    header .header-menu a {
        font-size: 1em;
    }
    
    header .header-menu button {
        display: none;
    }

    header .hamburger-btn {
        display: none;
    }

    .homepage .hero-section {
        justify-content: space-between;
    }

    .homepage .hero-image {
        max-width: 400px;
    }

    .homepage .services-section .services-card {
        width: 25%;
        display: inline-block;
    }

    .homepage .services-section .services-card-con {
        margin: 10px;
    }

    .homepage .overview-section .overview-container {
        display: flex;
        align-items: center;
    }

    .homepage .overview-section .left-column {
        width: 50%;
        max-width: unset;
        margin: unset;
        display: inline-block;
        text-align: center;
    }

    .homepage .overview-section img {
        max-width: 400px;
    }

    .homepage .overview-section .right-column {
        width: 50%;
        display: inline-block;
    }

    .homepage .overview-section p {
        text-align: left;
    }

}

@media screen and (min-width: 1025px) {
    .homepage .hero-section {
        min-height: 35em;
    }
}